<%= gravatar_for @user %>
<h1><%= current_user.profile.name %></h1>

<div>
    <% if !current_user.profile %>
        <%= link_to 'Create Profile', new_profile_path %>
    <% else %>
        <%= current_user.profile.location %><br>
        <%= current_user.profile.age %>
    <% end %>
</div>

<div>
    <% if @feed_items.any? %>
        <ol>
            <% @feed_items.each do |post| %>
                <%= post.body %>
                <%= post.user.profile.name %>
            <% end %>
        </ol>
    <% end %>
</div>

<div>
    <h3>Friends</h3>
    <% current_user.friendships.each do |friendship| %>
        <%= friendship.friend.profile.name %>
        <%# <%= link_to 'remove', friendship(current_user), method: :delete %>
    <% end %>
</div>

<div>
    <h3>Friend Requests</h3>
        <% @incoming.each do |request| %>
            <% f = User.find_by(id: request.user_id) %>
            <%= f.profile.name %>
            <%= link_to "accept", friend_request_path(request), method: :patch %> | 
            <%= link_to 'decline', friend_request_path(request), method: :delete %>
        <% end %>
</div>